
@model IEnumerable<EventLogger.Service.EventLogs.Dto.EventLogOutput>

    @{
        ViewBag.Title = "Index";
    }

    <h2> Index </h2>
@foreach (var item in Model)
{
    <h2> Log Id =  @item.Id</h2>
}
