@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>EventLogger</h1>
    <p class="lead">A very useful error/event logger to be used in Asp.net Mvc projects</p>
    <p><a target="_blank" href="https://github.com/hamed-shirbandi/EventLogger" class="btn btn-primary btn-lg">github page</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Error 404</h2>
        <p>
           Click following link to log a 404 error
        </p>
        <p><a target="_blank" class="btn btn-warning" href="/home/index99">Click me 404</a></p>
    </div>
    <div class="col-md-4">
        <h2>Error 400</h2>
        <p>
            Click following link to log a 404 error
        </p>
        <p><a target="_blank" class="btn btn-danger" href="/>">Click me 400</a></p>
    </div>
    <div class="col-md-4">
        <h2>
           See Logs !
        </h2>
        <p>To see Events and Errors log click following link </p>
        <p><a target="_blank" class="btn btn-success" href="/eventlogs">let's go</a></p>
    </div>
</div>